#map {
    height:560px;
    border-radius:7px
}

.legend {
    display:flex;
    gap:15px;
    padding:10px 3px 6px;
    color:var(--muted);
    font-size:10px
}

.layers {
    display:flex;
    gap:6px;
    flex-wrap:wrap
}

.layers button {
    background:#f6f9fb;
    border:1px solid var(--line);
    padding:7px 9px;
    border-radius:5px;
    font-size:10px;
    color:#64788a
}

.layers .chosen {
    background:#e8f3ff;
    color:var(--blue)
}

.fullmap {
    padding:8px
}

.fullmap>div {
    height:680px;
    border-radius:7px
}

.storm-big {
    width:150px;
    height:150px;
    border:12px solid #e8fbff;
    border-right-color:transparent;
    border-radius:50%;
    position:absolute;
    left:45%;
    top:38%
}

