.topbar {
    height:72px;
    background:var(--nav);
    color:#fff;
    display:flex;
    align-items:center;
    padding:0 32px;
    gap:28px;
    position:sticky;
    top:0;
    z-index:1000
}

.brand {
    display:flex;
    align-items:center;
    gap:10px;
    min-width:270px
}

.brand b {
    display:block;
    font-size:14px;
    letter-spacing:1px
}

.brand small {
    display:block;
    color:#a9c0d2;
    font-size:9px;
    margin-top:3px
}

.logo {
    width:36px;
    height:36px;
    border:2px solid #26b9ed;
    border-radius:50%;
    display:grid;
    place-items:center;
    color:#26b9ed
}

.topbar nav {
    display:flex;
    gap:4px;
    flex:1
}

.nav {
    background:transparent;
    border:0;
    color:#a9bbca;
    padding:11px 12px;
    border-radius:7px;
    font-size:13px
}

.nav:hover,.nav.active {
    color:#fff;
    background:#143d59
}

.actions {
    display:flex;
    gap:17px;
    align-items:center;
    color:#b8cad8
}

.bell {
    position:relative
}

.bell i {
    position:absolute;
    background:#e94b55;
    color:#fff;
    border-radius:8px;
    font-size:8px;
    padding:2px 4px;
    right:-8px;
    top:-7px
}

.avatar {
    width:30px;
    height:30px;
    border-radius:50%;
    background:#1b5474;
    display:grid;
    place-items:center
}

