/* =========================
   NAVBAR
========================= */

.navbar {
  height: 76px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7%;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  background: rgba(6, 17, 28, 0.78);
  backdrop-filter: blur(16px);

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 800;
  letter-spacing: 1px;
}

.logo-icon {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  background: linear-gradient(
    135deg,
    #00c6ff,
    #0072ff
  );

  font-size: 20px;
}

.logo-main {
  color: #ffffff;
}

.logo-storm {
  color: #38cfff;
}

.nav-links {
  display: flex;
  gap: 34px;

  color: #91a3b5;
  font-size: 14px;
}

.nav-links a {
  transition: 0.25s;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-button,
.primary-button {
  border: none;

  padding: 12px 20px;

  border-radius: 9px;

  color: white;

  background: linear-gradient(
    135deg,
    #00bfff,
    #006eff
  );

  font-weight: 600;

  box-shadow:
    0 8px 30px rgba(0, 136, 255, 0.20);

  transition: 0.25s;
}

.nav-button:hover,
.primary-button:hover {
  transform: translateY(-2px);

  box-shadow:
    0 12px 35px rgba(0, 136, 255, 0.35);
}
